.dashboard {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom:0;

  .ios-header {
    top:$header-height*-1;
  }
  ._standalone &{
    .ios-header {
      top:$header-height-large*-1;
    }
  }

  &-display,
  &-log,
  &-action {
    position: absolute;
    left: 0;
    right: 0;
  }
  &-display {
    height: calc(#{$display-height} - ( #{$action-height} / 2));
    top: 0;
  }
  &-log {
    height: calc(#{$log-height} - ( #{$action-height} / 2));
    bottom: $action-height;
  }
  &-action {
    bottom:0;
    height: $action-height;
  }
}