.delete-button {
  appearance:none;
  color: $danger;
  width: 100%;
  padding: 5px 10px;
  border: none;
  font-size: $font-size-small;
  text-align: left;
  background: transparent;

  &-box {
    display: block;
    margin: 10px;
  }
}