# System
.DS_Store

# IDE
.idea
*.iml

# Build
/build

# Node
/node_modules
/deploy.js
/symfony/web/dist

# symfony / composer
/symfony/composer.lock
/symfony/vendor

# Database
/db/*
!/db/konomi.sql
!/db/konomi_templates.csv

# Caching
/symfony/var/cache/*
!/symfony/var/cache/.gitkeep
/symfony/var/logs/*
!/symfony/var/logs/.gitkeep
/symfony/var/sessions/*
!/symfony/var/sessions/.gitkeep
/symfony/var/bootstrap.php.cache
