# System
.DS_Store

# IDE
.idea
*.iml

# Build
/build

# Node
node_modules
/deploy.js
/web/dist

# symfony / composer
/composer.lock
/vendor

# Database
/_db/*
!/_db/konomi.sql
!/_db/konomi_templates.csv

# Caching
/var/cache/*
!/var/cache/.gitkeep
/var/logs/*
!/var/logs/.gitkeep
/var/sessions/*
!/var/sessions/.gitkeep
/var/bootstrap.php.cache
