{% extends 'base.html.twig' %}
{% import "macros.html.twig" as macros %}
{% block title %}Overview{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="dist/assets/css/style.css">
    <link rel="apple-touch-icon" href="dist/assets/img/konomi-icon-192.png"/>
{% endblock %}


{% block javascriptstop %}
    <script>
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + "; " + expires;
        }
        setCookie('ko_cookie_saved-webapp',window.navigator.standalone ? '_standalone':'',30);
    </script>
{% endblock %}


{% block body %}
    <div class="body">
        <div data-view="./start" class="view view--start">
            {{ macros.appheader(_context) }}
            <div class="view-body">
                {{ macros.start(_context) }}
            </div>
        </div>
        <div data-view="./calendar" class="view view--calendar">
            <div class="ios-header ios-header-brand">
                <div class="ios-header-name">Kalender</div>
            </div>
        </div>
        <div data-view="./statistic" class="view view--statistic">
            <div class="ios-header ios-header-brand">
                <div class="ios-header-name">Widgets</div>
            </div>
        </div>
        <div data-view="./user" class="view view--user">
            <div class="ios-header ios-header-brand">
                <div class="ios-header-name">Benutzerkonto</div>
            </div>

        </div>
        {{ macros.navigation(_context) }}
        {{ macros.modal(_context) }}
    </div>
{% endblock %}


{% block javascriptsbottom %}
    <script src="dist/assets/js/libs.js"></script>
    <script src="dist/assets/js/scripts.js"></script>
{% endblock %}