.login {
  background: linear-gradient(to top, $brand-color, $brand-color-var);
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom:0;
  &-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-70%);
  }
}
.logo {
  display: block;
  margin: 0px auto 30px;
}
.input-password {
}
.input-password,
.input-user{
  &, & + button {
    display: block;
    margin: 0 auto;
    appearance: none;
    font-size: $font-size-normal;
    text-align: center;
    border-radius: 8px;
    border: 1px solid $brand-color-dark;
    //height: 44px;
    line-height: 18px;
    padding: 10px 0;
    width: 192px;
  }
  & + input {
    margin-top: 10px;
  }
  & {
    font-size: $font-size-small;
    background: rgba(255,255,255,.1);
    color: #fff;
    border-color: currentColor;
  }
  & + button {
    margin-top: 10px;
    font-size: $font-size-small;
    background: transparent;
    color: #fff;
    border:none;
    text-transform: uppercase;
    font-weight: 500;
  }
}
.login-error{
  text-align: center;
  font-weight: 500;
  color: #990000;
  margin: 1em 0;
}
$placeholdercolor: rgba(255,255,255,0.6);
.input-user::-webkit-input-placeholder {color: $placeholdercolor;  }
.input-user:-moz-placeholder { color: $placeholdercolor;  }
.input-user::-moz-placeholder { color: $placeholdercolor;  }
.input-user:-ms-input-placeholder { color: $placeholdercolor;  }
.input-password::-webkit-input-placeholder {color: $placeholdercolor;  }
.input-password:-moz-placeholder { color: $placeholdercolor;  }
.input-password::-moz-placeholder { color: $placeholdercolor;  }
.input-password:-ms-input-placeholder { color: $placeholdercolor;  }