$display-height: 60%;
$log-height: 40%;
$action-height:0px;
$header-height: 44px;
$header-height-large: 64px;

.dashboard {
  position: fixed;
  top:$header-height;
  left: 0;
  right: 0;
  bottom:0;

  .ios-header {
    top:$header-height*-1;
  }
  ._standalone &{
    top: $header-height-large;
    .ios-header {
      top:$header-height-large*-1;
    }
  }

  &-display,
  &-log,
  &-action {
    position: absolute;
    left: 0;
    right: 0;
  }
  &-display {
    height: calc(#{$display-height} - ( #{$action-height} / 2));
    top: 0;
  }
  &-log {
    height: calc(#{$log-height} - ( #{$action-height} / 2));
    bottom: $action-height;
  }
  &-action {
    bottom:0;
    height: $action-height;
  }
}