.log-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 10px;
  }

  label:first-child {
    display: block;
  }
  label {
    font-size: $font-size-small;
    font-weight: 500;
    margin-bottom: 5px;
  }

}