$templates: "none","amazon","ec","tanken","kk","edeka","lidl","essen","imbiss","clothing","sonstiges","miete","netflix","spotify","sport","auto","bauspar","berufun","handy","konto","gehalt","internet","friseur","sparen","drugs","hunde","geschenke","kino","musik","supplements","party";
$faktor:-1em;
$rows: 6;
$cols: 5;

.template-sprite {
  width: 1em;
  height: 1em;
  display: block;
  background: url("../img/konomi-sprite.png");
  background-size: 5em;
  background-position: 0 0;
  font-size: 48px;

  &-circle {
    border-radius: 50%;
  }

  $rows: $rows - 1;
  $cols: $cols - 1;
  $nth:0;
  @for $x from 0 through $rows {
    @for $y from 0 through $cols {
      $nth:$nth+1;
      @if $nth <= length($templates){
        $t:nth($templates, $nth);
        &-#{$t} {
          background-position:$y*$faktor $x*$faktor;
        }
      }
    }
  }
}
